@model Entity.HeaderUserInfo

@{
    ViewBag.Title = "title";
}

<h2>Read User Info From Header</h2>
<dl>
    <dt>Host</dt>
    <dd>@Model.Host</dd>
    
    <dt>User Againt</dt>
    <dd>@Model.UserAgent</dd>
    

</dl>